<div id="appcontainer" class="container-fluid">
      <strong
        ><a class="projects" href="{{ onehundredquestions }}"
          >OneHundredQuestions</a
        ></strong
      ><br />
      <a class="projects" href="{{ ohqgit }}">Project Repo</a><br><br>
      <strong
        ><a class="projects" href="{{ eventtracker }}">EventTracker</a></strong
      ><br />
      <a class="projects" href="{{ etgit }}">Project Repo</a><br><br>
      <strong
        ><a class="projects" href="{{ mvcfilmsite }}">MVC Film Site</a></strong
      ><br />
      <a class="projects" href="{{ mvcgit }}">Project Repo</a><br>
</div>
<img id="cornerman" src="https://i.imgur.com/f9vZhzs.jpg" alt="content man" />
