<div class="container-fluid" id="buttons">
  <a class="button btn-dark btn-lg" id="git" href="{{ github }}" role="button">
    Github</a
  >
  <a
    class="button btn-primary btn-lg"
    id="linkedin"
    href="{{ linkedin }}"
    role="button"
  >
    LinkedIn
  </a>
  <br />
</div>

<div id="contact" class="container-fluid">
  <span id="contactinfo">
    Casey Asher <br />
    Full Stack Web Developer <br />
    casey.e.asher@outlook.com <br />
    Tulsa Metropolitan Area <br />
  </span>
</div>
